body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 239, 206);
}

.feedback-container{
    background-color: #FFF;
    width: 90%;
    max-width: 400px;
    height: 200px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);  
    border-radius: 10px;
    position: relative;
}

.emojis-container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(244, 235, 62);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display:flex;
    overflow: hidden;
}

.rating-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    
}

.fa-regular{
    font-size: 48px;
    transition: 0.1s;  
}

.fa-solid{
    font-size: 2rem;
    color: lightgray; 
}

.active{
    color: gold;
}

/* Responsive */
@media (max-width: 430px) {
   
    .fa-solid{
        font-size: 1.6rem;
    }
   
}