*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin:20px;
    flex-basis:500px;
    flex-shrink: 1;
    height:220px;
    position: relative;
    padding:20px;
    background-color: pink;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0,0,0,0.3);
   
}

.container h2{
    margin-bottom: 20px;
     text-align: center;


}

.input-container{
    background-color:#FFF;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width:80%;

}

.input-container #pass{
font-size: 15px;
width: 80%;
outline: none;
padding: 5px;
border-radius: 10px;
border: none;
letter-spacing: 2px;
}

.input-container #pass::placeholder{
    font-size: 1rem;
    letter-spacing: 2px;
}




.input-container i{
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;  
}

.input-container i:hover{
   
    opacity: 0.7;
    
}



button{
    margin-top: 20px;
    padding:10px;
    background-color: black;
    color:#FFF;
    border-radius: 10px;
    cursor:pointer;
    font-weight: bold;
    transition: 0.3s;
    border:none;
    font-size: 17px;
    /* letter-spacing: 1px; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

button:hover{
    background-color: green;
}

button:active,.input-container i:active{
    transform:scale(0.9)
}

.alert{
 position:fixed;
 bottom:25px;
 right:15px;
 background-color: rgb(14, 198, 14);
 padding:15px 20px;
 width:250px;
 border-radius: 10px;
 color:#FFF;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: 0.4s;
 font-size: 15px;

}

.hidden{
   
     transform: translateX(300px);
   

}

@media (max-width:350px) {
    .input-container{
    width:100%;

}

.input-container #pass::placeholder{
    font-size: 14px;
}

.input-container #pass{
    font-size: 13px;
}

.container h2{
   font-size: 1rem;

}
}